/* Mermaid 图表样式 */
.mermaid {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.mermaid svg {
  width: auto !important;
  height: auto !important;
  max-width: none;
}

/* 防止文字换行 */
.mermaid .label,
.mermaid .nodeLabel,
.mermaid .edgeLabel {
  white-space: nowrap;
  font-size: 15px;
}
